
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BookmarkForest</a>
    </div>

      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", home_about_path %></li>
      </ul>

  </div><!-- /.container-fluid -->
</nav>  


  